* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* Navbar */
nav {
  background: #222;
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-size: 22px;
  font-weight: bold;
}
.logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.logo {
  display: flex;
}
.logo h1 {
  position: relative;
  top: 30px;
  left: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: orange;
}
#footer {
  background-color: bisque;
  color: black;
  display: flex;
  justify-content: space-around;
  height: 300px;
  padding: 50px;
}
#footer ul {
  list-style: none;
  padding: 0%;
  margin: 20px;
  min-width: 200px;
}
#footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
#footer li {
  margin-bottom: 10px;
}
#footer p {
  font-size: 14px;
  padding: 3px;
  max-width: 250px;
}
.footer-section li a {
  text-decoration: none;
  color: black;
}
